.heading{
  text-align: center;
}

.posting-form{
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.btn{
  margin-top: 10px;
}

.posts{
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

.post{
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
}