.kotak{
  width: 250px;
  height: 250px;
  position: absolute;
}

.pertama{
  background-color: blue;
  z-index: 99;
}
.kedua{
  margin-top: 50px;
  margin-left: 50px;
  background-color: green;
  z-index: 100;
}
.ketiga{
  margin-top: 100px;
  margin-left: 100px;
  background-color: red;
}
