<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <title>Document</title>
</head>
<body>
  <h1>Class Rooms</h1>

  <div class="input-form">
    <div class="form-group">
      <input class="form-control" placeholder="Input Class Name" id="my-classroom-input">
    </div>
    <button type="submit" class="btn btn-primary" onclick=handleInputClassRoom()>Submit</button>
  </div>

  <div class="class-table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Class Name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% classRooms.forEach(cr => { %>
          <tr>
            <th scope="row"><%= cr.id %> </th>
            <td><%= cr.name %> </td>
            <td><a href= <%= `/dashboard-classroom/${cr.id}` %> > Details</a></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <script src="../js/script.js"></script>
</body>
</html>