<%- include('partials/header') %> 
  <div class="wrapper">
    <header>
      <img src="assets/Mountain.png" alt="" class="background">
      <img src="assets/Trees.png" alt="" class="foreground">
      <h1 class="title">Welcome!</h1>
    </header>
    <section>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem nisi a cupiditate cum corporis atque earum, repudiandae laboriosam, voluptatem reprehenderit provident pariatur vero repellat tempore incidunt architecto. Non esse aperiam unde dicta nemo quam ipsa ipsum nulla voluptatem. Maiores, mollitia. Sint ut cum atque nostrum reiciendis. Doloribus facilis magni, accusamus minus aut eum voluptas. Totam a amet, doloremque laudantium itaque recusandae. Molestias dolore aspernatur, esse corporis vel doloremque consectetur optio culpa officiis aliquam corrupti obcaecati, adipisci quod quaerat amet libero excepturi nemo sapiente veniam iusto in? Sunt quibusdam blanditiis, eaque beatae ipsam iste ratione quod magni exercitationem officia soluta explicabo sint nobis commodi laboriosam repellat at a natus, magnam incidunt id obcaecati ipsum. Consectetur, temporibus doloribus repudiandae quisquam architecto consequuntur numquam at eveniet aliquid commodi possimus maiores, doloremque saepe inventore. Odio praesentium aliquam maiores! Voluptatem optio reprehenderit vitae, nostrum quaerat sequi praesentium veniam voluptas inventore voluptatibus. Quaerat nihil eos reiciendis quibusdam ducimus dolores voluptates eius architecto aliquid facilis adipisci odit ipsum totam odio perspiciatis tempore earum nesciunt, delectus exercitationem sint. Voluptas magnam ut ad, quod, amet aperiam, eligendi dolorum recusandae aliquid sequi vitae dolorem fugiat praesentium? Repudiandae ab repellat, delectus cumque laudantium possimus! Officia non aliquam voluptate sint, doloremque ullam?</section>
  </div>
<%- include('partials/footer') %> 
