<%- include('partials/header') %> 
  <h1 class="my-title"><%- pokemon.name %> </h1>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        Abilities
      </div>
      <div class="col-sm">
        <% let abilities = "" %> 
        <% pokemon.abilities.forEach(element => { %>
        <%  abilities = abilities + element.ability.name + "|"  %> 
        <% }) %>

        <%- abilities %> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Moves
      </div>
      <div class="col-sm">
        <% let moves = "" %> 
        <% pokemon.moves.forEach(element => { %>
        <%  moves = moves + element.move.name + "|"  %> 
        <% }) %>

        <%- moves %> 
      </div>
    </div>
  </div>
  
</body>
</html>