<%- include('partials/header') %> 
<h1>My Slider</h1>
<img src='https://a.cdn-hotels.com/gdcs/production143/d1112/c4fedab1-4041-4db5-9245-97439472cf2c.jpg' alt="Random" class="main-slide" id="main-slide">

<div class="thumbnails" id="thumbnails">
  
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="js/slider.js"></script>
<%- include('partials/footer') %> 